@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

*{
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/vape2.png);
	background-attachment: fixed;
}

/*PROPIEDADES GENERALES/*

/*CLASE GENERAL PARA LOS P QUE NECESITE APLICAR ESTE ESTILO*/
.p{
	width: 45%;
	font-size: 1.6rem;
	background-color: black;
	color:white;
	font-family: 'Comfortaa', cursive;
	display: inline-table;
}

.h{

	font-family: 'Recursive', sans-serif;
	font-size: 1.8em;
}

.iframe{
	width: 65vw;
	height: 65vh;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*APLICO ESTILOS A MI LOGO*/

.container-fluid a img{
	width: 10vw;
	height: 18vh;
	margin: 15px;
	border-radius: 100%;
	opacity: 70%;
}


/*BOTONERA PRINCIPAL*/

.botoneraprincipal {
	background-color: black;
}

	.botoneraprincipal ul li a{
		color: white;
		text-decoration: none;
		font-family: 'Comfortaa', cursive;
		font-size: 1.6rem;

	}

		.botoneraprincipal ul li a:hover{
			color: yellowgreen;
			font-weight: 600;
		}

			.botoneraprincipal .navbar-toggler-icon {
			  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.85)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
			}

				.botoneraprincipal .navbar-toggler {
				  border-color: rgba(255, 0, 0, 0.85);
				}

/*MODIFICO PROPIEDADES DEL CAROUSEL*/

.carousel-item{
	height: 45vh;
}

footer img{
	width: 4em;
	height: 4em;
	margin-right: 3em;
}

/*APLICO LAS MEDIAS QUERIES PARA EL INDEX*/

@media (min-width: 280px) and (max-width: 480px){

	/* DEFINO TAMAÑO DEL LOGO*/

	.botoneraprincipal a img{
		width: 15vw;
		height: 7vh;
		margin-top: 10px;
	}

	/*DEFINO TAMAÑO DE LOS IFRAMES DEL INDEX*/

	.iframe{
		width: 90%;
		height: auto;
	}

	/*DEFINO TAMAÑO DEL CAROUSEL*/

	.carousel-item{
		height: 15vh;
	}

	/*AJUSTO TAMAÑO DE LOS TITULOS*/

	.p{
		width: 100%;
		font-size: 1.4rem;
	}
}

/*APLICO ANIMACIONES EN EL HEADER DE LA SECCION PROMOCIONES*/

/*HEADER*/

.header{
	height: 44vh;
	animation-name: headerani;
	background-size: cover;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes headerani{
	0%{background-image: url(../img/header/header.png)}
	25%{background-image: url(../img/header/header2.png)}
	50%{background-image: url(../img/header/header3.png)}
	75%{background-image: url(../img/header/header4.png)}
	100%{background-image: url(../img/header/header5.png)}
}

/*APLICO GRID Y FLEX BOX EN SECCION GALERIA*/

	/*DEFINO LA CANTIDAD DE COLUMNAS*/

	.videogaleria {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

		.videogaleria div {
			width: 35vw;
			margin: 0.3vh;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}

			.videogaleria div img {
				width: 34vw;
				height: 34vh;
				object-fit: cover;
				border-radius: 3%;
			}

	/*DEFINO TAMAÑO DE LOS TIULOS Y APLICO FLEX*/		

	.titulosgaleria{
		width: 50vw;
		display: flex;
		flex-direction: column;
	}

		.titulosgaleria p{
			font-size: 1.6rem;
			background-color: black;
			color: white;
			font-family: 'Comfortaa', cursive;
		}

			div .titulosgaleria{
				height: auto;
				display: flex;
				align-items: center;
			}

/*APLICO ANIMACIONES A LA VIDEOGALERIA*/

/*GALERIA DE VIDEOS Y EQUIPOS*/

.zoom{
	transition: all 300ms;
	position: relative;
}

	.zoom img:hover{
		transform: scale(1.10);
		margin-top: 15px;
		margin-bottom: 5px;
		box-shadow: 7px 5px 6px 4px rgba(36,33,33,0.7);
	}

/*APLICO MEDIAS QUERIES A VIDEOGALERIA*/

@media (min-width: 280px) and (max-width: 480px){

	/*DEFINO TAMAÑO DEL HEADER*/

	.header{
		height: 28vh;
		background-repeat: no-repeat;
	}

	/*DEFINO TAMAÑO Y COLUMNAS PARA LA GALERIA*/
		
	.videogaleria{
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}

		.videogaleria div img {
			width: 90vw;
			/*height: 15vh;*/
			}	

	/*DEFINO TAMAÑO DE LOS TITULOS*/		

	.titulosgaleria p{
		font-size: 1em;
		text-align: center;
		margin-top: 5px;
	}

		div .titulosgaleria{
			flex-direction: row;
		}

	/*DEFINO TAMAÑO DE LOS ICONOS DEL FOOTER*/

	.pie a img{
		width: 8vw;
		height: auto;
	}
}
